li {
    list-style: none;
    margin-bottom: 20px;
  }
  
  label {
    margin-left: 10px;
  }
  
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px; /* added border radius */
    transition: all 0.2s ease-in-out; /* added transition */
  }
  
  button:hover {
    background-color: #3e8e41;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); /* added box-shadow */
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  span {
    margin-right: 10px;
    font-size: 20px;
  }
  
  span.green {
    color: green;
  }
  
  span.red {
    color: red;
  }
  